<!DOCTYPE html>
<html>
    <head>
        <title> stock_list </title>
        <meta charset="UTF-8">
    </head>
    <body>
            <h3>以下為股票資訊</h3>
            <ul>
                <li> 查詢時間: {{ stock.a}}</li>
                <li> 股票代號: {{ stock.b}}</li>
                <li> 股票名稱: {{ stock.c}}</li>
                <li> 股票全名: {{ stock.d}}</li>
                <li> 最佳買入價: {{ stock.e}}</li>
                <li> 最佳買入數量: {{ stock.f}}</li>
                <li> 最佳賣出價: {{ stock.g}}</li>
                <li> 最佳賣出數量: {{ stock.h}}</li>
                <li> 開盤價: {{ stock.i}}</li>
                <li> 最高價: {{ stock.j}}</li>
                <li> 最低價: {{ stock.k}}</li>
            </ul>
    </body>
</html>

