<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>選擇你想看的股票 </title>
        <style>
            table, th, td{
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <h2>股票列表</h2>
        <form action="/show_stock/" method="get">
        <table>
            <tr>
                <th>選取</th>
                <th>股票代號</th>
                <th>股票全名</th>
            </tr>
            {% for r in r1 %}
                <tr>
                    <td> <input type="radio" name="id" value="{{r.id}}"> </td>
                    <td> {{r.number}} </td>
                    <td> {{r.fullname}} </td>
                </tr>
            {% endfor %}
        </table>
        <input type="submit" value="觀看資訊">
        </form>
        <form action="/real_stock/" method="get">
            <!action 接到的是如果你接收到東西要傳送的網指>
            <label for="stock_name">你想找的股票</label>
            <input id="stock_name" type="text" name="stock_name">
            <input type="submit" value="顯示">
        </form>
    </body>
</html>