<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title> Restaurants </title>
        <style>
            table, th, td{
                border: 1px solid black;
            }
        </style>
    </head>
    <body>
        <h2>股票列表</h2>
        <form action="" method="get">
        <table>
            <tr>
                <th>選取</th>
                <th>股票代碼</th>
                <th>股票全名</th>
            </tr>
            <tr>
                    <td> <input type="radio" name="id" value="{{r.id}}"> </td>
                    <td> {{ '222'}} </td>
                    <td> {{ '222'}} </td>
            </tr>
            <tr>
                    <td> <input type="radio" name="id" value="{{r.id}}"> </td>
                    <td> {{ '222'}} </td>
                    <td> {{ '222'}} </td>
            </tr>
            <tr>
                    <td> <input type="radio" name="id" value="{{r.id}}"> </td>
                    <td> {{ '222'}} </td>
                    <td> {{ '222'}} </td>
            </tr>
               <tr>
                    <td> <input type="radio" name="id" value="{{r.id}}"> </td>
                    <td> {{ '222'}} </td>
                    <td> {{ '222'}} </td>
            </tr>
        </table>
        <input type="submit" value="觀看menu">
        </form>
    </body>
</html>